/* Hide the recommendations */
.grid .btn.btn-secondary.group.w-full {
  display: none;
}

/* Hide the "ChatGPT can make mistakes" text */
.juice\:w-full > :last-child {
  padding-block: 0.25rem;

  & > span {
    display: none;
  }
}

/* Fix the side nav padding since the traffic lights overlap */
nav[aria-label='Chat history'] {
  padding-top: 2.25rem !important;
}

@media (max-width: 767px) {
  /* Update the mobile header elements to fit well in the menu with the mac controls */
  .sticky.border-b {
    -webkit-app-region: drag;
    padding-top: 0 !important;
    padding-inline: 0.5rem !important;
    gap: 8px;

    [aria-haspopup='menu'] {
      padding-block: 0;
    }

    & > * {
      -webkit-app-region: no-drag;
    }

    & :has(> .header-button) {
      gap: 0.5rem;
    }

    & .header-button,
    & > button {
      margin-top: 0;
      height: 2.4rem;
      padding: 0;

      & > svg {
        border-radius: 4px;
        height: 2rem;
        padding: 0.25rem;
        width: 2rem;
      }

      &:hover > svg {
        background-color: #374151;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:first-child {
        margin-left: 5rem;
      }

      &:last-child {
        margin-right: 0.5rem;
      }
    }
  }
}
